@charset "utf=8";

@keyframes icon {
    5%{
        transform: scale(0.4);
    }
    50%{
        transform: scale(1);
    }
}

body{
    height: 100dvh;
}

header{
    display: flex;
    flex-direction: row;
    padding: 30px; 
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url(../img/453831761_1032640165040286_7855261614015121865_n.jpg);
}

header > img {
    border-radius: 50% 10% 50% 10%;
    border:5px solid white;
    height: 20em;
}


main{
    background-color: rgb(3, 3, 3);
    height: 300px;
    color: white;
    font-size: 3.3em;
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    justify-content: center;
}

.name{
   background-color: rgba(0, 0, 255, 0);
   padding: 10px;
   border:5px solid ;
   width: 17em;
   text-align: center; 
}

.studio{
   background-color: rgba(0, 0, 255, 0);
   padding: 10px;
   border:5px solid ;
   width: 17em;
   text-align: center;
}

footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: rgb(2, 2, 2); 
    height: 450px; 
}

.contatos{
    background-color: rgb(250, 247, 247);
    border-radius: 70px;
    gap: 2px;
    height: 80px;
    display: flex;
    width: 56em;
    align-self: center;
    box-shadow: 4px 4px 8px rgba(255, 0, 0, 0.493);
    
}

.contatos > img {
    height: 70px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 5px;
    animation: icon 3s infinite ease-in-out;
    
}
.contatos > a {
    font-size: 30px;
    display: flex;
    flex-direction: column; 
    align-self: center;
    margin-left: 2em;
    text-decoration: none;
    color: black;

}


